body {
    background-color: #11296b;
    color: #ffcb05;
}

h1 {
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    font-family: "Trebuchet MS", "Courier New", sans-serif;
}

h2, h3 {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    font-family: "Trebuchet MS", "Courier New", sans-serif;
}

p {
    font-size: 130%;
    line-height: 40px;
    font-family: "Trebuchet MS", "Courier New", sans-serif;
}

img {
    border: 5px solid #ededed;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

ul {
    display: inline-block;
    margin-left: 50px;
    font-family: "Trebuchet MS", "Courier New", sans-serif;
}

.skip a {
    position: absolute; /* have precise control over where the element appears on the page */
    top: -40px; /* positioning .skip off-screen */
}
  
.skip a:focus {
    top:20px;
}